@tailwind base;
@tailwind components;
@tailwind utilities;
.containor {
  margin: 0;
  padding: 0;
  background-image: url("../images/image.png");
  background-size: cover;
  background-position: center;
}
.containor {
  padding: 30px;
}
.album {
  margin: 0;
  padding: 0;
  background-image: url("../images/image9.png");
  background-size: cover;
  background-position: center;
}
